<div class="container">
	<h2>Create / Update / Delete Posts</h2>
	<form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="row g-3">
		<div class="col-12">
			<div *ngFor="let value of radioButtonValues" class="form-check">
				<input
					type="radio"
					class="form-check-input"
					[id]="value"
					[value]="value"
					name="resttype"
					formControlName="resttype" />
				<label [for]="value" class="form-check-label">
					{{ value.charAt(0).toUpperCase() + value.substring(1) }}
				</label>
			</div>
		</div>

		<div class="col-6" *ngIf="resttype?.value !== 'delete'">
			<label for="userId">User ID </label>
			<input
				formControlName="userId"
				id="userId"
				class="form-control"
				type="text"
				required
				minlength="1"
				maxlength="3"
				pattern="\d+" />
		</div>

		<div class="col-6" *ngIf="resttype?.value !== 'create'">
			<label for="id">Post ID</label>
			<input
				formControlName="id"
				id="id"
				class="form-control"
				type="text"
				pattern="\d+" />
		</div>

		<div class="col-12" *ngIf="resttype?.value !== 'delete'">
			<label for="title">Title</label>
			<input
				formControlName="title"
				id="title"
				class="form-control"
				type="text" />
		</div>

		<div class="col-12" *ngIf="resttype?.value !== 'delete'">
			<label for="body">Body</label>
			<textarea
				formControlName="body"
				id="body"
				class="form-control"></textarea>
		</div>

		<div class="col-12">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>

	<br />
	{{ returnPost | async | json }}
</div>
