<div class="container-fluid">
	<h2>Posts</h2>

	<div class="row g-3">
		<label for="userIdGetter" class="col-auto col-form-label"
			>User ID
		</label>
		<div class="col-auto">
			<input
				id="userIdGetter"
				class="form-control"
				placeholder="User ID"
				[(ngModel)]="userId"
				type="text"
				pattern="\d+" />
		</div>
		<div class="col-md">
			<button class="btn btn-primary" (click)="reload()">Reload</button>
		</div>
	</div>

	<div class="row posttable table-responsive m-2">
		<table class="table table-fixed table-striped table-bordered">
			<thead>
				<tr>
					<th>id</th>
					<th>userId</th>
					<th>title</th>
					<th>body</th>
				</tr>
			</thead>
			<tbody class="overflow-scroll">
				<tr *ngFor="let post of posts | async">
					<td>{{ post.id }}</td>
					<td>{{ post.userId }}</td>
					<td>{{ post.title }}</td>
					<td>{{ post.body }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
